@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

/* Responsive styles */
@media (min-width: 640px) {
	.ml-8 {
		margin-left: 20px; /* Increase left margin on larger screens */
	}
}

@media (min-width: 768px) {
	.ml-8 {
		margin-left: 30px; /* Adjust left margin further for tablets */
	}
}

/* Add more media queries as needed for different screen sizes */
